<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RNDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6268BC56217593B500AB0D79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6268BC6E217593B500AB0D79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6268BC79217593B500AB0D79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
